* {
    box-sizing: border-box;
  }
  
  body{
      margin: 0;
      padding: 0;
      background-color: white;
      font-family: "Comic Sans MS", cursive, sans-serif;
  }
  .box{
      text-align: center;
      padding: 25px;
  }
  .item{
      border: solid green;
      background-color: grey;
      padding: 18px;
      /* width: 300px; */
      height: fit-content;
      margin-top:10px;
      flex: 1 1 300px;
      margin-left: 10px;
      margin-right: 20px;
      position: relative;
      overflow: none;
  }
  .container{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 100%;
      margin: 0 auto;

  }
  .item>h4{
      background-color: crimson;
      padding: 10px;
      text-align: right;
      width: fit-content;
      margin-left: auto;
      margin: -20px -20px 0 auto;
      border: solid green;
      
    

}
@media(min-width:768px) and (max-width:991px) {
    .items{
        justify-content: flex-start;
    }
   }
    @media(max-width:768px) {
   
       .items{
           justify-content: flex-start;
       }
      
   
    }


  
  
  
  
  